<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css"/>
</head>
<body>
<h1>REGISTRATION</h1>

<form action="/register" method="post">
    <div class="form_row">
        <label for="userEmail">Email</label><br/>
        <input
                class="border"
                type="email"
                id="userEmail"
                name="userEmail"
                required
        /><br/>
    </div>
    <div class="form_row">
        <label for="username">Username:</label><br/>
        <input class="border" type="text" id="username" name="username" required/><br/>
    </div>
    <div class="form_row">
        <label for="password">Password</label><br/>
        <input
                class="border"
                type="password"
                id="password"
                name="password"
                required
        /><br/>
        <br/>
    </div>

    <input class="button" type="submit" value="REGISTRATION"/>
    <a class="button" href="/login">Sign in</a>

</form>
</body>
</html>
